$aqua: #0ff;
$bg-navbar: #555;
$bg-footer: #292c2f;
$bg-drop-content: #f1f1f1;
$bg-drop-content-hover: #ddd;
$black: #000;
$blue: #00f;
$grey: #c4c4c4;
$primary: #4f56c0;
$red: #f00;
$sliver: #c0c0c0;
$white: #fff;
